.cart-wrapper {
  width: 400px;
  height: 188px;
  background-color: gray;
  overflow-y: auto;
}
.open-cart-wrapper,
.cart-wrapper {
  position: fixed;
  top: 0;
  right: 0;
}
.open-cart-wrapper button{
  cursor: pointer;
}
.cart-title,
.cart-total {
  text-align: center;
  width: 384px;
  padding: 4px 0;
  position: fixed;
  background-color: gray;
}
.cart-total{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.buy-items{
  cursor: pointer;
}
.cart-title {
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart-title div{
  margin: 0 10px;
}
.cart-exit, .cart-remove-all {
  cursor: pointer;
  box-sizing: border-box;
  background-color: rgb(245, 94, 94);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 16px;
}
.cart-remove-all{
  font-size: 12px;
  padding: 2px;
}
.cart-total {
  top: 160px;
}
.cart-items-wrapper {
  padding: 28px 0;
}
.cart-item-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 64px;
  width: 100%;
  background-color: #fff;
  border-bottom: 2px solid black;
}
.cart-item-wrapper:nth-child(1) {
  border-top: 2px solid black;
}
.cart-item-image {
  height: 32px;
  width: 32px;
  object-fit: cover;
}
